<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quản lý đồ án sinh viên</title>
    <!-- Bootstrap core CSS -->
    <link href="App_Themes/css/bootstrap.css" rel="stylesheet" />
       <!-- Fontawesome core CSS -->
    <link href="App_Themes/css/font-awesome.min.css" rel="stylesheet" />
     <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- Timeline -->
    <link href="App_Themes/css/timeline.css" rel="stylesheet" />
     <!-- custom CSS here -->
    <link href="App_Themes/css/style.css" rel="stylesheet" />
</head>
@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quản Lý Đồ Án Sinh Viên", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>*@


<body>
    <form id="form1" runat="server">
                    <div class="navbar navbar-inverse navbar-fixed-top">
                      
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @Html.ActionLink("Quản Lý Đồ Án Sinh Viên", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </div>

                    @*<div class="container">
                        <div class="row ">

                            <div class="col-md-offset-2 col-md-8 col-sm-12 top-margin">
                                <div>
                                    <ul class="timeline">
                                        <li class="time-label">
                                            <span class="bg-orange">
                                                Quá trình hoàn thiện các đồ án của Sinh Viên
                                            </span>
                                            <br />
                                            <br />
                                        </li>

                                        <li class="time-label">
                                            <span class="bg-light-blue">
                                                Học kì 20162
                                            </span>
                                        </li>

                                        <li>
                                            <i class="fa fa-envelope bg-blue"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i>20 Feburary</span>
                                                <h3 class="timeline-header"><a href="#">Đồ án 1</a> ...</h3>
                                                <div class="timeline-body">
                                                    Giáo viên hướng dẫn:
                                                </div>
                                                <div class="timeline-body">
                                                    Trạng thái mở đăng kí:
                                                </div>
                                                <div class="timeline-body">
                                                    Điểm:
                                                </div>

                                                <div class='timeline-footer'>
                                                    <a class="btn btn-primary btn-xs">Chi tiết</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="time-label">
                                            <span class="bg-light-blue">
                                                Học kì 20161
                                            </span>
                                        </li>

                                        <li>
                                            <i class="fa fa-envelope bg-blue"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i>15 September 2016</span>
                                                <h3 class="timeline-header"><a href="#">Project I</a>- Quản lý đồ án sinh viên</h3>
                                                <div class="timeline-body">
                                                    Giáo viên hướng dẫn:
                                                </div>
                                                <div class="timeline-body">
                                                    Trạng thái mở đăng kí:
                                                </div>
                                                <div class="timeline-body">
                                                    Điểm:
                                                </div>

                                                <div class='timeline-footer'>
                                                    <a class="btn btn-primary btn-xs">Chi tiết</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="time-label">
                                            <span class="bg-light-blue">
                                                Học kì 20152
                                            </span>
                                        </li>

                                        <li>
                                            <i class="fa fa-envelope bg-blue"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i>20 Feburary 2016</span>
                                                <h3 class="timeline-header"><a href="#">Project I</a>- Quản lý thư viện</h3>
                                                <div class="timeline-body">
                                                    Giáo viên hướng dẫn:
                                                </div>
                                                <div class="timeline-body">
                                                    Trạng thái mở đăng kí:
                                                </div>
                                                <div class="timeline-body">
                                                    Điểm:
                                                </div>

                                                <div class='timeline-footer'>
                                                    <a class="btn btn-primary btn-xs">Chi tiết</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="fa fa-clock-o"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>*@


                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - Viện CNTT - Đại học Bách khoa Hà Nội</p>
                        </footer>
                    </div>

                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)
                    <!-- /.container -->
                    <!--Core JavaScript file  -->
                    <script src="App_Themes/js/jquery-1.10.2.js"></script>
                    <!--bootstrap JavaScript file  -->
                    <script src="App_Themes/js/bootstrap.js"></script>
    </form>
</body>
</html>
