<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quản lý đồ án sinh viên</title>
    <!-- Bootstrap core CSS -->
    <link href="~/App_Themes/css/" rel="stylesheet" />
       <!-- Fontawesome core CSS -->
    <link href="App_Themes/css/font-awesome.min.css" rel="stylesheet" />
     <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- Timeline -->
    <link href="App_Themes/css/timeline.css" rel="stylesheet" />
     <!-- custom CSS here -->
    <link href="App_Themes/css/style.css" rel="stylesheet" />
</head>
@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quản Lý Đồ Án Sinh Viên", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>*@


<body>
    <form id="form1" runat="server">
                    <div class="navbar navbar-inverse navbar-fixed-top">
                      
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @Html.ActionLink("Quản Lý Đồ Án Sinh Viên", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </div>



                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - Viện CNTT - Đại học Bách khoa Hà Nội</p>
                        </footer>
                    </div>

                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)
                    <!-- /.container -->
                    <!--Core JavaScript file  -->
                    <script src="App_Themes/js/jquery-1.10.2.js"></script>
                    <!--bootstrap JavaScript file  -->
                    <script src="App_Themes/js/bootstrap.js"></script>
    </form>
</body>
</html>
